/* body {
  counter-reset: headerCounter;

} */

header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

ol,
li {
  list-style: none;
}

img {
  height: 100px;
  width: 100px;
  border: solid black;
  border-radius: 60px;
}

.fixtureContainer {
  border-style: solid;
  bottom: 2px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}


.firstRound {
  width: 33%;

  border: solid 1px black;
}

.winner {
  margin: 55px;
  font-size: 22px;
  border: solid 2px black;
  display: flex;
  flex-wrap: nowrap;
}

.looser {
  font-size: 24px;
  border: solid 2px black;
  display: flex;
  flex-wrap: nowrap;
}

section {
  background: #000;
}

.championshipTitle {
  margin-right: auto;
  align-items: center;
}

.formli {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2px 10px 2px 10px;
  /* counter-increment: headerCounter; */

}

/* .formli::before {
  content: counter(headerCounter)'.';

} */